In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('../data/tbl_appointment (2).csv')

/tmp/ipykernel_91211/1473452959.py:1: DtypeWarning: Columns (19,21,25,26,35,36,40,64,65,73,78,79,86,89,90,91,92,93,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/tbl_appointment (2).csv')

In [18]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,customer_id,schedule_id,schedule_index,schedule_time,schedule_type,...,rebook_nextday_suggest,rebook_nextday,price,discount_price,fee,payment_scope,qrcode_scanned,pn_sent_time,zo_sent_time,bc_id
0,1,1,2.0,NaN,22.0,NaN,NaN,NaN,1.470101e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,3,3,2.0,49.0,1.0,NaN,NaN,NaN,1.456965e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,4,4,4.0,NaN,3.0,NaN,NaN,NaN,1.457829e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
3,5,5,17.0,3.0,3.0,NaN,NaN,NaN,1.457829e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0
4,7,7,17.0,3.0,3.0,NaN,NaN,NaN,1.457915e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [20]:
df.shape

(154474, 121)

In [21]:
df = df.drop(columns=['customer_id', 'schedule_id', 'rebook_nextday_suggest', 'rebook_nextday', 'price', 'discount_price', 'fee', 'payment_scope', 'qrcode_scanned', 'pn_sent_time', 'zo_sent_time'])

In [22]:
df.columns

Index(['id', 'code', 'partner_id', 'clinic_id', 'specialist_id',
       'schedule_index', 'schedule_time', 'schedule_type',
       'schedule_minute_range', 'created_time',
       ...
       'parking', 'pay_type', 'pay_amount', 'pay_status', 'updated_time',
       'service', 'tech_note', 'option_value', 'option_name', 'bc_id'],
      dtype='object', length=110)

In [23]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_index,schedule_time,schedule_type,schedule_minute_range,created_time,...,parking,pay_type,pay_amount,pay_status,updated_time,service,tech_note,option_value,option_name,bc_id
0,1,1,2.0,NaN,22.0,NaN,1.470101e+09,1.0,NaN,1.470019e+09,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
1,3,3,2.0,49.0,1.0,NaN,1.456965e+09,1.0,NaN,1.456765e+09,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
2,4,4,4.0,NaN,3.0,NaN,1.457829e+09,1.0,NaN,1.456765e+09,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
3,5,5,17.0,3.0,3.0,NaN,1.457829e+09,1.0,NaN,1.456765e+09,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0
4,7,7,17.0,3.0,3.0,NaN,1.457915e+09,1.0,NaN,1.456765e+09,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,0

In [24]:
df = df.drop(columns=['schedule_index', 'schedule_minute_range', 'parking', 'pay_type', 'pay_amount', 'pay_status', 'updated_time', 'option_value', 'option_name'])

In [25]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,view_guide_first,view_guide_last,view_guide_count,source,source_commission,source_pay_status,schedule_status,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1,NaN,0

In [26]:
df = df.drop(columns=['view_guide_first', 'view_guide_last', 'view_guide_count', 'source_pay_status', 'schedule_status'])

In [27]:
df.columns

Index(['id', 'code', 'partner_id', 'clinic_id', 'specialist_id',
       'schedule_time', 'schedule_type', 'created_time', 'status',
       'status_process', 'status_partner', 'status_contact', 'payment_type',
       'payment_status', 'book_for', 'phone', 'contact_name', 'phone2', 'name',
       'gender', 'marital_status', 'email', 'birthtime', 'birthday', 'address',
       'career', 'province_id', 'reason_id', 'reason', 'reason_other',
       'cancel_by', 'cancel_note', 'note', 'notify_time', 'book_method',
       'scheduled_time', 'partner_customer_code', 'partner_amount',
       'partner_discount', 'partner_income', 'our_commission', 'our_income',
       'schedule_hour', 'schedule_date', 'schedule_weekday', 'schedule_week',
       'schedule_month', 'schedule_year', 'created_hour', 'created_date',
       'created_weekday', 'created_week', 'created_month', 'created_year',
       'pin', 'pin_note', 'referrer', 'device', 'is_delete', 'page_id',
       'session_id', 'visitor_id', 'user_id', 'auto_confirm',
       'partner_update_data', 'partner_update_status',
       'partner_update_lasttime', 'partner_note', 'admin_note',
       'patient_guide', 'msg', 'feedback_data', 'feedback_status',
       'feedback_recommend', 'feedback_suggest', 'feedback_content',
       'feedback_anonymous', 'feedback_time', 'queue', 'forward',
       'feedback_source', 'insurrance_id', 'insurrance_name', 'place_id',
       'sync_status', 'nation', 'nationality', 'district', 'ward', 'village',
       'app_active_time', 'source', 'source_commission', 'service',
       'tech_note', 'bc_id'],
      dtype='object')

In [28]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,nationality,district,ward,village,app_active_time,source,source_commission,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,1.646818e+09,NaN,NaN,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0

In [29]:
df = df.drop(columns=['nationality', 'district', 'ward', 'village', 'source_commission'])

In [30]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,insurrance_id,insurrance_name,place_id,sync_status,nation,app_active_time,source,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,1,NaN,1.646818e+09,NaN,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,0

In [31]:
df = df.drop(columns=['nation', 'insurrance_id', 'place_id', 'sync_status', 'app_active_time'])

In [32]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,feedback_anonymous,feedback_time,queue,forward,feedback_source,insurrance_name,source,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,NaN,NaN,"a:1:{s:36:""1738072800.1.0.4.173804959068127529...",0,NaN,NaN,NaN,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,0,NaN,NaN,NaN,1,NaN,0

In [33]:
df = df.drop(columns=['feedback_time', 'queue', 'insurrance_name'])

In [34]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,feedback_recommend,feedback_suggest,feedback_content,feedback_anonymous,forward,feedback_source,source,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,NaN,0

In [35]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

payment_status    154474
payment_type      154474
notify_time       154474
msg               154474
marital_status    154472
                   ...
is_delete              0
auto_confirm           0
forward                0
service                0
bc_id                  0
Length: 83, dtype: int64

In [36]:
df = df.drop(columns=["payment_type", "payment_status", "notify_time", "msg", "marital_status"])

In [37]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

patient_guide       154281
user_id             154185
reason_id           153946
partner_income      153936
partner_discount    153935
                     ...
is_delete                0
auto_confirm             0
forward                  0
service                  0
bc_id                    0
Length: 78, dtype: int64

In [38]:
df = df.drop(columns=['user_id', 'patient_guide', 'partner_income', 'partner_discount', 'our_commission'])

In [39]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

reason_id           153946
cancel_note         153908
source              153780
feedback_suggest    153775
feedback_source     153566
                     ...
is_delete                0
auto_confirm             0
forward                  0
service                  0
bc_id                    0
Length: 73, dtype: int64

In [40]:
df = df.drop(columns=['feedback_suggest', 'feedback_source', 'reason_id', 'feedback_anonymous', 'source'])

In [41]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

cancel_note           153908
note                  152795
feedback_recommend    152752
pin_note              152364
feedback_content      151727
                       ...
pin                        0
auto_confirm               0
forward                    0
service                    0
bc_id                      0
Length: 68, dtype: int64

In [42]:
df = df.drop(columns=['feedback_recommend', 'partner_amount', 'note', 'feedback_content', 'feedback_data'])

In [43]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

cancel_note     153908
pin_note        152364
page_id         148373
session_id      148247
our_income      148181
                 ...
is_delete            0
auto_confirm         0
forward              0
service              0
bc_id                0
Length: 63, dtype: int64

In [44]:
df = df.drop(columns=['our_income', 'pin_note', 'partner_update_data', 'cancel_note', 'page_id'])

In [45]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

session_id                 148247
visitor_id                 147451
email                      146127
partner_customer_code      136462
feedback_status            129682
career                     129065
admin_note                 128389
birthday                   117902
phone2                      98874
contact_name                98407
partner_note                96596
tech_note                   73287
partner_update_status       44480
partner_update_lasttime     44480
address                     27212
reason                      16072
referrer                    15243
device                      13055
reason_other                11669
gender                       3705
book_for                     2312
specialist_id                 830
clinic_id                     693
schedule_type                 473
partner_id                    414
book_method                   285
province_id                   204
birthtime                     131
schedule_month                104
schedule_year                 104
schedule_weekday              104
schedule_week                 104
schedule_date                 104
schedule_hour                 104
schedule_time                 102
phone                           4
created_year                    2
created_month                   2
created_date                    2
created_hour                    2
created_week                    2
created_time                    2
created_weekday                 2
code                            1
status_partner                  0
status_contact                  0
status                          0
id                              0
name                            0
status_process                  0
scheduled_time                  0
cancel_by                       0
pin                             0
is_delete                       0
auto_confirm                    0
forward                         0
service                         0
bc_id                           0
dtype: int64

In [46]:
df = df.drop(columns=['session_id', 'partner_customer_code', 'visitor_id', 'email', 'birthday', 'career', 'feedback_status'])

In [47]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

admin_note                 128389
phone2                      98874
contact_name                98407
partner_note                96596
tech_note                   73287
partner_update_lasttime     44480
partner_update_status       44480
address                     27212
reason                      16072
referrer                    15243
device                      13055
reason_other                11669
gender                       3705
book_for                     2312
specialist_id                 830
clinic_id                     693
schedule_type                 473
partner_id                    414
book_method                   285
province_id                   204
birthtime                     131
schedule_month                104
schedule_week                 104
schedule_year                 104
schedule_hour                 104
schedule_weekday              104
schedule_date                 104
schedule_time                 102
phone                           4
created_month                   2
created_date                    2
created_hour                    2
created_year                    2
created_weekday                 2
created_time                    2
created_week                    2
code                            1
name                            0
status_contact                  0
status                          0
id                              0
status_process                  0
status_partner                  0
cancel_by                       0
scheduled_time                  0
pin                             0
is_delete                       0
auto_confirm                    0
forward                         0
service                         0
bc_id                           0
dtype: int64

In [48]:
df.head()

,id,code,partner_id,clinic_id,specialist_id,schedule_time,schedule_type,created_time,status,status_process,...,is_delete,auto_confirm,partner_update_status,partner_update_lasttime,partner_note,admin_note,forward,service,tech_note,bc_id
0,1,1,2.0,NaN,22.0,1.470101e+09,1.0,1.470019e+09,2,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
1,3,3,2.0,49.0,1.0,1.456965e+09,1.0,1.456765e+09,2,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
2,4,4,4.0,NaN,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
3,5,5,17.0,3.0,3.0,1.457829e+09,1.0,1.456765e+09,2,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
4,7,7,17.0,3.0,3.0,1.457915e+09,1.0,1.456765e+09,2,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0

In [49]:
df = df.drop(columns=['id', 'schedule_month', 'schedule_week', 'schedule_year', 'schedule_hour', 'schedule_weekday', 'schedule_date', 'schedule_time'])

In [50]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,status_process,status_partner,status_contact,...,is_delete,auto_confirm,partner_update_status,partner_update_lasttime,partner_note,admin_note,forward,service,tech_note,bc_id
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,1,1,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0

In [51]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

admin_note                 128389
phone2                      98874
contact_name                98407
partner_note                96596
tech_note                   73287
partner_update_lasttime     44480
partner_update_status       44480
address                     27212
reason                      16072
referrer                    15243
device                      13055
reason_other                11669
gender                       3705
book_for                     2312
specialist_id                 830
clinic_id                     693
schedule_type                 473
partner_id                    414
book_method                   285
province_id                   204
birthtime                     131
phone                           4
created_year                    2
created_hour                    2
created_time                    2
created_month                   2
created_date                    2
created_week                    2
created_weekday                 2
code                            1
status                          0
status_contact                  0
status_partner                  0
status_process                  0
name                            0
scheduled_time                  0
cancel_by                       0
pin                             0
is_delete                       0
auto_confirm                    0
forward                         0
service                         0
bc_id                           0
dtype: int64

In [52]:
df = df.drop(columns=['created_hour', 'created_year', 'created_month', 'created_date', 'created_week', 'created_weekday'])

In [53]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,status_process,status_partner,status_contact,...,is_delete,auto_confirm,partner_update_status,partner_update_lasttime,partner_note,admin_note,forward,service,tech_note,bc_id
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,1,1,1,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,0,0,NaN,NaN,NaN,NaN,0,1,NaN,0

In [54]:
df = df.drop(columns=['partner_update_lasttime', 'partner_update_status'])

In [55]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,status_process,status_partner,status_contact,...,referrer,device,is_delete,auto_confirm,partner_note,admin_note,forward,service,tech_note,bc_id
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,1,1,1,...,NaN,NaN,0,0,NaN,NaN,0,1,NaN,0
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,1,1,0,...,NaN,NaN,0,0,NaN,NaN,0,1,NaN,0
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,1,1,0,...,NaN,NaN,0,0,NaN,NaN,0,1,NaN,0
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,NaN,NaN,0,0,NaN,NaN,0,1,NaN,0
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,NaN,NaN,0,0,NaN,NaN,0,1,NaN,0

In [56]:
df = df.drop(columns=['device', 'is_delete', 'auto_confirm', 'forward', 'service', 'tech_note', 'bc_id'])

In [57]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,status_process,status_partner,status_contact,...,province_id,reason,reason_other,cancel_by,book_method,scheduled_time,pin,referrer,partner_note,admin_note
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,1,1,1,...,1.0,NaN,Khám tiêu hóa,1,1.0,1,0,NaN,NaN,NaN
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,1,1,0,...,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng",1,1.0,1,0,NaN,NaN,NaN
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,1,1,0,...,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu",1,1.0,1,0,NaN,NaN,NaN
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp",1,1.0,1,0,NaN,NaN,NaN
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,1,1,0,...,NaN,NaN,Cao huyết áp,1,1.0,1,0,NaN,NaN,NaN

In [58]:
df = df.drop(columns=['book_for', 'cancel_by', 'book_method', 'scheduled_time', 'pin', 'status_process', 'status_partner', 'status_contact'])

In [59]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,contact_name,phone2,name,gender,birthtime,address,province_id,reason,reason_other,referrer,partner_note,admin_note
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,NaN,NaN,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,NaN,Khám tiêu hóa,NaN,NaN,NaN
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,NaN,NaN,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng",NaN,NaN,NaN
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,NaN,NaN,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu",NaN,NaN,NaN
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,NaN,NaN,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp",NaN,NaN,NaN
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,NaN,NaN,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,NaN,Cao huyết áp,NaN,NaN,NaN

In [60]:
df = df.drop(columns=['contact_name', 'phone2'])

In [61]:
df.describe()

,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,gender,province_id
count,154060.000000,153781.00000,153644.000000,154001.000000,1.544720e+05,154474.0,150769.000000,154270.000000
mean,90.836239,951.35122,19.079157,1.000019,1.623163e+09,2.0,0.523994,33.554074
std,101.127187,862.48862,14.628567,0.017470,6.305134e+07,0.0,0.499439,32.571938
min,1.000000,1.00000,1.000000,-1.000000,1.456765e+09,2.0,-1.000000,1.000000
25%,10.000000,176.00000,4.000000,1.000000,1.571807e+09,2.0,0.000000,1.000000
50%,63.000000,647.00000,18.000000,1.000000,1.639380e+09,2.0,1.000000,27.000000
75%,111.000000,1589.00000,27.000000,1.000000,1.678063e+09,2.0,1.000000,74.000000
max,530.000000,4134.00000,116.000000,4.000000,1.709607e+09,2.0,1.000000,96.000000

In [62]:
null_counts = df.isnull().sum().sort_values(ascending=False)

print(null_counts)

admin_note       128389
partner_note      96596
address           27212
reason            16072
referrer          15243
reason_other      11669
gender             3705
specialist_id       830
clinic_id           693
schedule_type       473
partner_id          414
province_id         204
birthtime           131
phone                 4
created_time          2
code                  1
name                  0
status                0
dtype: int64

In [63]:
df = df.drop(columns=['admin_note', 'partner_note'])

In [64]:
df.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason,reason_other,referrer
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,NaN,Khám tiêu hóa,NaN
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng",NaN
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu",NaN
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp",NaN
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,NaN,Cao huyết áp,NaN

In [65]:
df['reason_combind'] = df['reason'].combine_first(df['reason_other'])

In [66]:
df

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason,reason_other,referrer,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,NaN,Khám tiêu hóa,NaN,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng",NaN,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu",NaN,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp",NaN,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,NaN,Cao huyết áp,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,1999.0,NaN,1.0,Cấy que tranh thai,Cấy que tranh thai,https://bookingcare.vn/cam-nang/benh-vien-bao-...,Cấy que tranh thai
154470,mc95,124.0,1013.0,31.0,1.0,1.709606e+09,2,914647488,Trần Thị Thanh Thảo,1.0,1985.0,NaN,79.0,NaN,NaN,https://bookingcare.vn/cam-nang/huong-dan-di-k...,NaN
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,1974.0,0,66.0,Tái khám,Tái khám,0,Tái khám
154472,mc97,111.0,1818.0,28.0,1.0,1.709606e+09,2,987464544,Nguyễn Văn Cường,0.0,1985.0,NaN,66.0,NaN,NaN,https://bookingcare.vn/dich-vu-y-te/kham-chuye...,NaN
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,1962.0,0,77.0,Tái khám,Tái khám,0,Tái khám

In [67]:
df_cleaned = df.dropna(subset=['reason_combind'])

In [68]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason,reason_other,referrer,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,NaN,Khám tiêu hóa,NaN,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng",NaN,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu",NaN,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp",NaN,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,NaN,Cao huyết áp,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,1980.0,0,27.0,Khám lại khớp gối\n,Khám lại khớp gối\n,0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,1988.0,0,74.0,0,0,0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,1999.0,NaN,1.0,Cấy que tranh thai,Cấy que tranh thai,https://bookingcare.vn/cam-nang/benh-vien-bao-...,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,1974.0,0,66.0,Tái khám,Tái khám,0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,1962.0,0,77.0,Tái khám,Tái khám,0,Tái khám

In [69]:
df_cleaned = df_cleaned.drop(columns=['reason', 'reason_other'])

In [70]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,referrer,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,NaN,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,NaN,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,NaN,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,NaN,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,1980.0,0,27.0,0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,1988.0,0,74.0,0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,1999.0,NaN,1.0,https://bookingcare.vn/cam-nang/benh-vien-bao-...,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,1974.0,0,66.0,0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,1962.0,0,77.0,0,Tái khám

In [71]:
df_cleaned = df_cleaned.drop(columns=['referrer'])

In [72]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,NaN,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,NaN,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,NaN,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,NaN,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,NaN,1946,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,1980.0,0,27.0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,1988.0,0,74.0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,1999.0,NaN,1.0,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,1974.0,0,66.0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,1962.0,0,77.0,Tái khám

In [73]:
df_cleaned.describe()

,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,gender,province_id
count,143043.000000,142773.000000,142633.000000,142982.000000,1.431670e+05,143169.0,139821.000000,142989.000000
mean,89.881609,940.516659,18.980474,1.000014,1.621533e+09,2.0,0.524814,33.076027
std,101.133924,861.507628,14.636375,0.017937,6.353152e+07,0.0,0.499386,32.390767
min,1.000000,1.000000,1.000000,-1.000000,1.456765e+09,2.0,0.000000,1.000000
25%,10.000000,174.000000,4.000000,1.000000,1.569459e+09,2.0,0.000000,1.000000
50%,56.000000,644.000000,18.000000,1.000000,1.636543e+09,2.0,1.000000,27.000000
75%,111.000000,1584.000000,27.000000,1.000000,1.677325e+09,2.0,1.000000,72.000000
max,530.000000,4134.000000,116.000000,4.000000,1.709607e+09,2.0,1.000000,96.000000

In [74]:
df_cleaned['gender'] = df_cleaned['gender'].fillna(-1)

In [75]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,-1.0,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,-1.0,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,-1.0,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,-1.0,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,-1.0,1946,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,1980.0,0,27.0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,1988.0,0,74.0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,1999.0,NaN,1.0,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,1974.0,0,66.0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,1962.0,0,77.0,Tái khám

In [76]:
string_values = df_cleaned[df_cleaned["birthtime"].apply(lambda x: isinstance(x, str))]["birthtime"]

In [77]:
len(string_values)

107002

In [78]:
df_cleaned['birthtime'] = pd.to_datetime(df_cleaned['birthtime'], errors="coerce")
df_cleaned['birthtime'] = df_cleaned['birthtime'].dt.year

In [79]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,-1.0,1978.0,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,-1.0,1987.0,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,-1.0,1987.0,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,-1.0,1976.0,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,-1.0,1946.0,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,NaN,0,27.0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,NaN,0,74.0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,NaN,NaN,1.0,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,NaN,0,66.0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,NaN,0,77.0,Tái khám

In [80]:
df_cleaned['birthtime'] = df_cleaned['birthtime'].fillna(-1).astype(int)

In [81]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,-1.0,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,-1.0,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,-1.0,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,-1.0,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,-1.0,1946,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0.0,-1,0,27.0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1.0,-1,0,74.0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1.0,-1,NaN,1.0,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1.0,-1,0,66.0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1.0,-1,0,77.0,Tái khám

In [82]:
df_cleaned['gender'] = df_cleaned['gender'].astype(int)

In [83]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2.0,NaN,22.0,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,-1,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2.0,49.0,1.0,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,-1,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4.0,NaN,3.0,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,-1,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17.0,3.0,3.0,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,-1,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17.0,3.0,3.0,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,-1,1946,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10.0,1543.0,1.0,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0,-1,0,27.0,Khám lại khớp gối\n
154468,mc93,111.0,1822.0,17.0,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1,-1,0,74.0,0
154469,mc94,8.0,1655.0,10.0,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1,-1,NaN,1.0,Cấy que tranh thai
154471,mc96,111.0,1822.0,17.0,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1,-1,0,66.0,Tái khám
154473,mW02,111.0,1824.0,21.0,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1,-1,0,77.0,Tái khám

In [84]:
df_cleaned.dtypes

code               object
partner_id        float64
clinic_id         float64
specialist_id     float64
schedule_type     float64
created_time      float64
status              int64
phone              object
name               object
gender              int64
birthtime           int64
address            object
province_id       float64
reason_combind     object
dtype: object

In [85]:
columns_to_fill = ['partner_id', 'clinic_id', 'specialist_id']
df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna(0).astype(int)

In [86]:
df_cleaned

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2,0,22,1.0,1.470019e+09,2,0978868343,Nguyễn Mạnh Kiểm,-1,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2,49,1,1.0,1.456765e+09,2,0961802111,Trịnh Thị Màu,-1,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4,0,3,1.0,1.456765e+09,2,0969193662,Trần Thị Thao,-1,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17,3,3,1.0,1.456765e+09,2,0982398253,Nguyễn Đức Toàn,-1,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17,3,3,1.0,1.456765e+09,2,0904842488,Lê Thị Tuyết Sinh,-1,1946,Hoà Bình,NaN,Cao huyết áp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154467,mc92,10,1543,1,1.0,1.709606e+09,2,982760266,Nguyễn Văn Tuyến,0,-1,0,27.0,Khám lại khớp gối\n
154468,mc93,111,1822,17,1.0,1.709606e+09,2,962238486,Nguyễn Thị Nguyệt,1,-1,0,74.0,0
154469,mc94,8,1655,10,1.0,1.709606e+09,2,334275683,Lê Mai Chjnh,1,-1,NaN,1.0,Cấy que tranh thai
154471,mc96,111,1822,17,1.0,1.709606e+09,2,367413628,Nguyễn Thị Liễu,1,-1,0,66.0,Tái khám
154473,mW02,111,1824,21,1.0,1.709607e+09,2,356200634,Phạm Thị Ánh,1,-1,0,77.0,Tái khám

In [87]:
df_cleaned.dtypes

code               object
partner_id          int64
clinic_id           int64
specialist_id       int64
schedule_type     float64
created_time      float64
status              int64
phone              object
name               object
gender              int64
birthtime           int64
address            object
province_id       float64
reason_combind     object
dtype: object

In [88]:
df_cleaned['created_time'] = pd.to_datetime(df['created_time'], unit='s')
df_cleaned['created_time'] = df_cleaned['created_time'].dt.year

In [89]:
df_cleaned.head()

,code,partner_id,clinic_id,specialist_id,schedule_type,created_time,status,phone,name,gender,birthtime,address,province_id,reason_combind
0,1,2,0,22,1.0,2016.0,2,0978868343,Nguyễn Mạnh Kiểm,-1,1978,La Khê - Hà Đông - Hà Nội,1.0,Khám tiêu hóa
1,3,2,49,1,1.0,2016.0,2,0961802111,Trịnh Thị Màu,-1,1987,Từ Liêm-Hà Nội,1.0,"Đau lưng nhiều,ngồi lâu cứng lưng"
2,4,4,0,3,1.0,2016.0,2,0969193662,Trần Thị Thao,-1,1987,Vinh-Nghệ An,40.0,"Hở van tim 3 lá,ngoại tâm thu"
3,5,17,3,3,1.0,2016.0,2,0982398253,Nguyễn Đức Toàn,-1,1976,Sa Pa -Lào Cai,10.0,"Đau tức ngực bên trái,cảm giác hồi hộp"
4,7,17,3,3,1.0,2016.0,2,0904842488,Lê Thị Tuyết Sinh,-1,1946,Hoà Bình,NaN,Cao huyết áp

In [90]:
df_cleaned.to_csv('../data/data_cleaned.csv')

### prepare clinic specialist

In [91]:
specialist_df = pd.read_csv('../data/tbl_clinic_specialist.csv')

In [92]:
specialist_df.head()

,id,parent_id,name,url,title,keyword,description,content,picture,status,type,rank,show_phone,role,sync_status,updated_time,chat_expiration_time,bc_id,related_ids
0,1,0,Cơ Xương Khớp,co-xuong-khop,Cơ Xương Khớp,"Bác sĩ khám cơ-xương-khớp giỏi,thấp khớp,nội c...",Lựa chọn Đặt lịch khám hoặc Tư vấn chữa bệnh v...,"<h2 style=""text-align: justify; line-height: 1...",2023/12/26/101627-co-xuong-khop.png,1,1,50.0,0,NaN,1,1731053225,NaN,0.0,"[""73"",""24"",""18""]"
1,2,0,TƯ VẤN XÉT NGHIỆM,tu-van-xet-nghiem,TƯ VẤN XÉT NGHIỆM,NaN,NaN,<h2>Bác sĩ Tư vấn xét nghiệm</h2><p>BookingCar...,NaN,0,2,2.0,0,NaN,1,1682386596,NaN,NaN,NaN
2,3,0,Tim mạch,tim-mach,Tim mạch,"nội tim mạch,tim mạch và lồng ngực,ngoại lồng ...",Lựa chọn đặt lịch khám hoặc tư vấn chữa bệnh v...,"<h2 style=""text-align: justify; ""><span style=...",2023/12/26/101713-tim-mach.png,1,1,47.0,0,NaN,1,1728463431,NaN,0.0,NaN
3,4,0,Tai Mũi Họng,tai-mui-hong,Tai Mũi Họng,"tai mũi họng,thính học,phòng khám tai mũi họng...",NaN,"<h2 style=""text-align: justify; ""><span style=...",2023/12/26/101713-tai-mui-hong.png,1,1,46.0,1,NaN,1,1731053127,NaN,0.0,NaN
4,5,0,Nhi khoa,nhi-khoa,Nhi khoa,"Sơ sinh,Nhi",NaN,"<h2 style=""text-align: justify; ""><span style=...",2023/12/26/101655-nhi-khoa.png,1,1,42.0,0,NaN,1,1731053032,NaN,0.0,NaN

In [93]:
specialist_df = specialist_df[['id', 'name']]

In [94]:
specialist_df

      id                   name
0      1          Cơ Xương Khớp
1      2      TƯ VẤN XÉT NGHIỆM
2      3               Tim mạch
3      4           Tai Mũi Họng
4      5               Nhi khoa
..   ...                    ...
112  116             Tuyến giáp
113  117         Sốt xuất huyết
114  118         Chuyên khoa Vú
115  119             Ngoại khoa
116  120  Phẫu thuật tuyến giáp

[117 rows x 2 columns]

In [95]:
specialist_df['name'] = specialist_df['name'].str.lower().str.strip()

In [96]:
specialist_df

      id                   name
0      1          cơ xương khớp
1      2      tư vấn xét nghiệm
2      3               tim mạch
3      4           tai mũi họng
4      5               nhi khoa
..   ...                    ...
112  116             tuyến giáp
113  117         sốt xuất huyết
114  118         chuyên khoa vú
115  119             ngoại khoa
116  120  phẫu thuật tuyến giáp

[117 rows x 2 columns]

In [97]:
data_dict = specialist_df.set_index('id')['name'].to_dict()

In [98]:
data_dict

{1: 'cơ xương khớp',
 2: 'tư vấn xét nghiệm',
 3: 'tim mạch',
 4: 'tai mũi họng',
 5: 'nhi khoa',
 7: 'chụp cộng hưởng từ',
 8: 'chụp cắt lớp vi tính',
 9: 'nội soi tiêu hóa',
 10: 'siêu âm thai',
 11: 'da liễu',
 12: 'hiếm muộn',
 13: 'ngoại khoa',
 14: 'fus-mri',
 15: 'ung bướu',
 17: 'nội khoa',
 18: 'thần kinh',
 19: 'sản phụ khoa',
 20: 'chụp pet/ct',
 21: 'tiểu đường - nội tiết',
 22: 'tiêu hoá',
 23: 'bác sĩ từ xa qua video',
 24: 'cột sống',
 25: 'khám chuyên gia',
 26: 'nam học',
 27: 'sức khỏe tâm thần',
 28: 'bệnh viêm gan',
 29: 'chuyên khoa mắt',
 30: 'phục hồi chức năng',
 31: 'khám tổng quát',
 32: 'thận - tiết niệu',
 33: 'nha khoa',
 34: 'hô hấp',
 35: 'khoa 1c - bệnh viện việt đức',
 36: 'dị ứng miễn dịch',
 37: 'bệnh viện da liễu hà nội',
 38: 'phẫu thuật hàm mặt - tạo hình thẩm mỹ',
 39: 'y học cổ truyền',
 40: 'châm cứu',
 41: 'bác sĩ gia đình',
 42: 'tạo hình hàm mặt',
 43: 'hô hấp - phổi',
 44: 'bác sĩ da liễu từ xa',
 45: 'sức khỏe tâm thần từ xa',
 46: 'bác sĩ cơ-xương-khớp từ xa',
 47: 'bác sĩ cột sống từ xa',
 48: 'bác sĩ tiêu hóa từ xa',
 49: 'bác sĩ nội khoa từ xa',
 50: 'bác sĩ nam học từ xa',
 51: 'bác sĩ sản phụ khoa từ xa',
 52: 'bác sĩ tim mạch từ xa',
 53: 'bác sĩ nhi từ xa',
 54: 'bác sĩ tai-mũi-họng từ xa',
 55: 'bác sĩ nội tiết từ xa',
 56: 'bác sĩ thần kinh từ xa',
 57: 'bác sĩ phục hồi chức năng từ xa',
 58: 'bác sĩ thận - tiết niệu từ xa',
 59: 'tại nhà',
 60: 'tổng quát',
 61: 'bác sĩ hô hấp - phổi từ xa',
 62: 'bác sĩ mắt từ xa',
 63: 'thương về miền trung',
 64: 'gen',
 65: 'tư vấn, trị liệu tâm lý từ xa',
 66: 'tư vấn, trị liệu tâm lý',
 67: 'vô sinh - hiếm muộn',
 68: 'bác sĩ tư vấn f0',
 69: 'covid',
 70: 'hậu covid 19',
 71: 'ngoại thần kinh',
 72: 'da liễu thẩm mỹ',
 73: 'chấn thương chỉnh hình',
 74: 'truyền nhiễm',
 75: 'nam',
 76: 'nữ',
 77: 'trẻ em',
 78: 'người già',
 79: 'tiền hôn nhân',
 80: 'ung thư vú [thử nghiệm]',
 81: 'cơ bản',
 82: 'nâng cao',
 83: 'tầm soát ung thư',
 84: 'tầm soát ung thư vú',
 85: 'tầm soát ung thư cổ tử cung',
 86: 'tầm soát u buồng trứng',
 87: 'tầm soát ung thư gan',
 88: 'tầm soát ung thư phổi',
 89: 'tầm soát ung thư tiêu hóa',
 90: 'tầm soát tiêu hóa',
 91: 'bệnh lý chung',
 92: 'xét nghiệm y học',
 93: 'ung thư',
 94: 'nipt',
 95: 'dị ứng',
 96: 'gan',
 97: 'cúm và sốt',
 98: 'phẫu thuật thận - tiết niệu',
 99: 'phẫu thuật nam học',
 100: 'phẫu thuật tai - mũi - họng',
 101: 'phẫu thuật hậu môn - trực tràng',
 102: 'phẫu thuật mắt',
 103: 'gói khám vip',
 104: 'gói khám doanh nghiệp',
 105: 'niềng răng',
 106: 'bọc răng sứ',
 107: 'trồng răng implant',
 108: 'nhổ răng khôn',
 109: 'nha khoa tổng quát',
 110: 'nha khoa trẻ em',
 112: 'thủ thuật suy giãn tĩnh mạch',
 113: 'thử nghiệm',
 114: 'dental',
 115: 'xét nghiệm tại nhà',
 116: 'tuyến giáp',
 117: 'sốt xuất huyết',
 118: 'chuyên khoa vú',
 119: 'ngoại khoa',
 120: 'phẫu thuật tuyến giáp'}

In [99]:
import json
json_path = '../data/specialist.json'
with open(json_path, 'w', encoding='utf-8') as f:
    json.dump(data_dict, f, ensure_ascii=False, indent=4)